$color-options: rgba(255, 244, 217, 1);
$color-header-bg: rgba(255, 198, 156, 1);
@mixin header {
    padding: 1rem 0.6rem 1rem 0.6rem;
    border: 1px solid #FFC69C;
    display: flex;
    font-size: 2.2rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 20rem;
    background-color: rgba(255, 244, 217, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}

@mixin imageIcon {
    display: block;
    background-repeat: no-repeat;
    width: 2.5rem;
    height: 2.5rem;
    background-size: contain;
    background-position: center center;
}
@mixin list {
    padding: 1rem 0 1rem 2.5rem;
    list-style: none;
    z-index: 10;
    border: 1px solid #FFC69C;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 20rem;
    background-color: $color-options;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.book-options{
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 4rem;
}
@media (max-width: 1050px) {
    .book-options{
        gap: 2rem;
    }
}
@media (max-width: 820px) {
    .book-options{
        flex-direction: column;
        align-items: start;
        gap: 2rem;
    }
}
.wrapper-level{
    position: relative;
    background-color: $color-options;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.level__header{
   @include header();
    width: 20rem;
}
.level__icon,
.level__btn{
    @include imageIcon();
}
.level__list.open{
    top: 4.5rem;
    @include list();
    width: 20rem;
}
.level__list{
    display: none;
}
.book-options__game {
    position: relative;
    width: 23rem;
    padding: 1rem;
    background-color: $color-options;
    font-size: 2.2rem;
    text-transform: uppercase;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #FFC69C;
    line-height: 2.663rem;
    cursor: pointer;
}
.game__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 23rem;

}
.game-header__icon,
.game-header__btn{
    @include imageIcon();
}

.game__list.hidden{
    display: none;
}
.game__list{
   @include list();
    width: 23rem;
    
}
.list__item{
    margin-bottom: 1rem;
}

