$color-options: rgba(255, 244, 217, 1);
.select-form{
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1.8rem;
    line-height: 2.663rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 2.663rem;
    background-color: $color-options;
}
.option__item{
    font-size: 1.8rem;
}