$color-content-bg: rgba(255, 227, 156, 1);
$color-item-bg: rgba(255, 244, 217, 1);
$color-border-btn: rgba(255, 198, 156, 1);

$color-group-1: white;
$color-group-2: green;
$color-group-3: yellow;
$color-group-4: blue;
$color-group-5: violet;
$color-group-6: red;
$color-group-7: grey;

.book-container{
    width: 100%;
    padding: 4rem;
}
.book__title{
    font-size: 4rem;
    margin-bottom: 2rem;
    font-weight: 700;
}
.book__setting{
    background-color: grey;
}
.book__content{
    display: flex;
    flex-direction: column;
}
.book-item{
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color-item-bg;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.main-block{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.book-item__left{
    min-width: 29.8rem;
    // min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.book-item__right{
    padding: 2rem 2rem 2rem 0rem;
}
.left__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 0.5rem;
}
.item__name{
    font-size: 2.2rem;
}
.item__translate{
    font-size: 1.8rem;
    font-style: italic;
    margin-bottom: 2rem;
}
.item__audio-button{
    padding: 0;
    background-color: inherit;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
}
.item__text-meaning,
.item__text-example{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
i, b{
    font-weight: 400;
    font-style: normal;
}
.item__text-meaning-translate,
.item__text-example-translate{
    font-size: 1.6rem;
    font-style: italic;
}
.item__text-meaning-translate{
    margin-bottom: 2rem;
}
.item__buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 4rem 4rem 2rem;
    gap: 1.5rem
}
.item__remove-button,
.item__add-button,
.item__statistics-button{
    width: 20rem;
    box-shadow: 0 0 0.5rem rgb(141, 141, 216);
    font-weight: 400;
    background-color: inherit;
    border: 1px solid $color-border-btn;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.8rem;
    text-transform: lowercase;
    width: 20rem;
    &:hover{
        box-shadow: none;
        transition: all 0.3s;
        transform: translateY(4px);
    }
}

.remove-btn{
    background-color: $color-content-bg;
}

.item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 2rem 0rem;
    border-radius: 100%;
}
.group-1{
    background-color: $color-group-1;
}
.group-2{
    background-color: $color-group-2;
}
.group-3{
    background-color: $color-group-3;
}
.group-4{
    background-color: $color-group-4;
}
.group-5{
    background-color: $color-group-5;
}
.group-6{
    background-color: $color-group-6;
}
.group-7{
    background-color: $color-group-7;
}
.item__overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.537);
}
.item__overlay.open{
    display: block;
}
.item__statistics-window{
    display: none;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 7rem;
    width: 50%;
    background-color: #fff;
    height: auto;
    flex-direction: column;
    transform: translate(-50%, -50%);

}
.item__statistics-window.open{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 7rem;
    width: 50%;
    background-color: #fff;
    height: auto;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
}
.window__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.title__word{
    color: blue;
    font-size: 1.8rem;
    font-weight: 700;
}
table{
    margin-bottom: 3rem;
}
td{
    padding: 1rem;
    border: 1px solid grey;
}
.modal__close-btn{
    width: 1rem;
    height:1rem;
    position: absolute;
    top: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: inherit;
    opacity: 0.7
}