$color-group-1: white;
$color-group-2: green;
$color-group-3: yellow;
$color-group-4: blue;
$color-group-5: violet;
$color-group-6: red;
$color-group-7: grey;

.book-container{
    width: 100%;
}
.book__title{
    font-size: 3.2rem;
    margin-bottom: 2rem;
}
.book__setting{
    background-color: grey;
}
.book__content{
    display: flex;
    flex-direction: column;
}
.book-item{
    margin-bottom: 1.5rem;
    max-width: 80rem;
    width: 80%;
    display: flex;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    flex-direction: row;
    gap: 1.5rem;
    background-color: antiquewhite;
    border: 3px solid yellow
}
.book-item__left{
    min-width: 30rem;
    max-width: 30rem;
    min-height: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 2rem;
    background-size: cover;
    background-position: center center;
}
// .item__image{
//     max-width: 30rem;
// }
.book-item__right{
    padding: 1rem;
}
.item__name{
    font-size: 2.0rem;
}
.item__transcription{
    font-size: 1.8rem;
}
.item__translate{
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}
.item__audio-button{
    margin-bottom: 1rem;
    display: block;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
}
.item__text-meaning-translate{
    margin-bottom: 1rem;
}
.item__remove-button,
.item__add-button{
    box-shadow: 0 0 0.5rem rgb(141, 141, 216);
    border-radius: 2rem;
    &:hover{
        box-shadow: none;
        transition: all 0.3s;
        transform: translateY(4px);
    }
}
.item__buttons{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.item__remove-button{
    background-color:rgba(251, 107, 91, 0.927);
}
.item__add-button{
    background-color: rgba(86, 249, 214, 0.678);
}

#group-1{
    border: 5px solid $color-group-1;
}
#group-2{
    border: 5px solid $color-group-2;
}
#group-3{
    border: 5px solid $color-group-3;
}
#group-4{
    border: 5px solid $color-group-4;
}
#group-5{
    border: 5px solid $color-group-5;
}
#group-6{
    border: 5px solid $color-group-6;
}

.item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 2rem 0rem;
    border-radius: 100%;
}
.group-1{
    background-color: $color-group-1;
}
.group-2{
    background-color: $color-group-2;
}
.group-3{
    background-color: $color-group-3;
}
.group-4{
    background-color: $color-group-4;
}
.group-5{
    background-color: $color-group-5;
}
.group-6{
    background-color: $color-group-6;
}
.group-7{
    background-color: $color-group-7;
}