.games-container {
  margin-top: 25px;
  min-height: 500px;
  background-color: #FFE39C;
}
.games__box {
  width: 50%;
  height: 100px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.games__box_audio-challenge {
  background-image: url('../../assets/images/audio-challenge-box.jpg');
}
.games__box_sprint {
  background-image: url('../../assets/images/sprint-box.jpg');
}
