.games-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: #FFE39C;
}

.games__box {
  width: 100%;
  max-width: 798px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
}

.games__game {
  height: 215px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-position: center;
  border: 1px solid #FFC69C;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.games__game_audio-challenge {
  background-repeat: no-repeat;
  background-image: url('../../assets/img/audio-challenge-box.jpg');
}
.games__game_sprint {
  background-repeat: no-repeat;
  background-image: url('../../assets/img/sprint-box.jpg');
}

.games__game-title {
  display: flex;
  align-content: center;
  justify-content: center;
  font-weight: bold;
  font-size: 80px;
  line-height: 121px;
  letter-spacing: 0.1em;
  color: rgb(255, 244, 217);
}

.games__image {
  width: 330.27px;
  height: 470px;
  background-image: url('../../assets/img/mario.png');
  background-size: contain;
}
