.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.footer-rs-logo {max-width: 100px;}
.footer {height: 60px}
.footer {
  display:flex;
  justify-content: space-between;
  padding: 0 40px;
}
.footer__team-gh-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}
