* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    padding: 0 0;
    position: relative;
    &::-webkit-scrollbar {
        width: 0px;
    }
    #root,
    #wt-sky-root {
        display: none;
    }
}

main {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}

button,
input {
    font-family: "Robot", sans-serif;
}

@media(min-height: 899px) {
    main {
        flex-grow: 1;
        margin-top: 20px;
    }
}
