$color-button: rgba(250, 77, 77, 0.867);
$color-title: rgba(255, 244, 217, 1);
$color-main: rgba(255, 227, 156, 1);
$color-border: rgba(255, 198, 156, 1);
$color-options: rgba(255, 244, 217, 1);
$color-header-bg: rgba(255, 198, 156, 1);

@mixin mainButton {
    width: 35rem;
    height: 8rem;
    background-color: $color-title;
    margin-bottom: 4rem;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid $color-border;
}
@mixin header {
    padding: 1rem 0.6rem 1rem 0.6rem;
    border: 1px solid #FFC69C;
    display: flex;
    font-size: 2.2rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 20rem;
    background-color: rgba(255, 244, 217, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}
@mixin imageIcon {
    display: block;
    background-repeat: no-repeat;
    width: 2.5rem;
    height: 2.5rem;
    background-size: contain;
    background-position: center center;
}
@mixin list {
    padding: 1rem 0 1rem 2.5rem;
    list-style: none;
    z-index: 10;
    border: 1px solid #FFC69C;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 22rem;
    background-color: $color-options;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.audio-page{
    max-width: 1440px;
    margin: 0 auto;
    background-color: $color-main;
    padding: 4rem;
}
.audioChallenge__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    // background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5) ), url('/img/back/home-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.audioChallenge__title{
    font-size: 10rem;
    margin-bottom: 4rem;
    color: $color-title;
}
@media (max-width: 768px) {
    .audioChallenge__title{
        font-size: 7rem;
    }
}
@media (max-width: 570px) {
    .audioChallenge__title{
        font-size: 5rem;
    }
}
@media (max-width: 452px) {
    .audioChallenge__title{
        font-size: 3.0rem;
    }
}
.audioChallenge__content{
    padding: 4rem;
}

.content__list{
    margin-bottom: 3rem;
    color:rgba(255, 244, 217, 1);
    font-size: 2.2rem;
}
@media (max-width: 570px) {
    .content__list{
        font-size: 1.8rem;
    }
}
.audioChallenge-list__item{
    list-style:disc; 
    color:rgba(255, 244, 217, 1);
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    font-size: 2.2rem;
    text-transform: none;
}
@media (max-width: 570px) {
    .audioChallenge-list__item{
        font-size: 1.8rem;
    }
}
.options__select-title{
    color: $color-title;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 2rem; 
}
@media (max-width: 570px) {
    .options__select-title{
        font-size: 1.8rem;
    }
}
.audioChallenge__options{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 6rem;
    align-items: start;
}
.audioChallenge__level{
    position: relative;
    background-color: $color-options;
    width: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
@media (max-width: 420px) {
    .audioChallenge__level{
        width: 20rem
    }
}
@media (max-width: 350px) {
    .audioChallenge__level{
        width: 18rem
    }
}
.audioChallenge-level__header{
   @include header();
    width: 22rem;
}
@media (max-width: 420px) {
    .audioChallenge-level__header{
        width: 20rem;
    }
}
@media (max-width: 350px) {
    .audioChallenge-level__header{
        width: 18rem;
    }
}
.audioChallenge-level__icon,
.audioChallenge-level__btn{
    @include imageIcon();
}
.audioChallenge-level__list.open{
    bottom: 100%;
    @include list();
    max-height: 15rem;
    overflow: auto;
}
@media (max-width: 420px) {
    .audioChallenge-level__list.open{
        width: 20rem;
        padding: 1rem 0rem 1rem 0rem;
    }
}
@media (max-width: 350px) {
    .audioChallenge-level__list.open{
        width: 18rem;
        padding: 1rem 0rem 1rem 0rem;
    }
}
.audioChallenge-level__list{
    display: none;
}
.options__start-button{
    @include mainButton();
    &:hover{
        transition: all 0.5s;
        opacity: 0.9;
    }
}
@media (max-width: 500px) {
    .options__start-button{
        width: 25rem;
        font-size: 3.2rem;
    }
}
@media (max-width: 400px) {
    .options__start-button{
        width: 18rem;
        font-size: 2.4rem;
    }
}

//game
.game{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.game__content{
    max-width: 71.3rem;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 500px) {
    .game__content{
        margin: 2rem;
    }
}
.game__title{
    font-size: 4rem;
    margin: 4rem 4rem 8rem 4rem;
    font-weight: 700;
    color: $color-title;
}
@media (max-width: 768px) {
    .game__title{
        font-size: 3.2rem;
        margin: 4rem 2rem 4rem 2rem;
    }
}
.game__audio-button {
    width: 15rem;
    height: 15rem;
    background-color: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 4rem;
}
.game__translate{
    font-size: 2.2rem;
    font-style: italic;
    color: $color-title;
    margin-bottom: 1rem;
}

.game__answers{
    max-width: 87rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}
@media (max-width: 500px) {
    .game__answers{
        flex-direction: column;
    }
}
.answer__btn {
    padding: 0.5rem;
    background-color: inherit;
    font-weight: normal;
    border: none;
    outline: none;
    font-size: 2.2rem;
    color: $color-title;
    text-transform: none;
    font-weight: 400;
    &:hover{
        opacity: 0.8;
        transition: all 0.3s;
        color: whitesmoke;
    }
}
.next__game-btn,
.help__game-btn,
.audioChallenge-repeat__button,
.audioChallenge-return__button{
    @include mainButton();
    margin-bottom: 4rem;
}
@media (max-width: 500px) {
    .next__game-btn,
    .help__game-btn,
    .audioChallenge-repeat__button,
    .audioChallenge-return__button{
        width: 25rem;
        font-size: 3.2rem;
    }
}
@media (max-width: 400px) {
    .next__game-btn,
    .help__game-btn,
    .audioChallenge-repeat__button,
    .audioChallenge-return__button{
        width: 18rem;
        font-size: 2.4rem;
    }
}

.audioChallenge-result__container{
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}
.audioChallenge-result__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.audioChallenge-result__content{
    background-color: $color-border;
    margin: 4rem;
    padding: 4rem;
    width: 60%;
    height: 52rem;
    overflow: auto;
}
@media (max-width: 768px) {
    .audioChallenge-result__content{
       width: 90%;
    }
}
@media (max-width: 350px) {
    .audioChallenge-result__content{
       width: 95%;
    }
}

.audioChallenge-content__title{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 4rem;
   
}
@media (max-width: 600px) {
    .audioChallenge-content__title{
        font-size: 3.2rem;
        margin-bottom: 3rem;
    }
}
@media (max-width: 340px) {
    .audioChallenge-content__title{
        font-size: 2.4rem;
    }
}
.audioChallenge-true__block{
    margin-bottom: 4rem;
}
.audioChallenge-false__block,
.audioChallenge-true__block{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.true-title,
.false-title{
    font-size: 3rem;
    margin-bottom: 2rem;
}
@media (max-width: 620px) {
    .true-title,
    .false-title{
    font-size: 2.4rem;
    margin-bottom: 2rem;
}
}
.result-list__item {
    display: flex;
    flex-direction: row;
    gap: 2.3rem;
    margin-bottom: 2rem;
}
.list__item-audio{
    display: block;
    background-color: $color-title;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
}
.list__item-word{
    font-size: 2.2rem;
    text-transform: none;
}
.audioChallenge-result__buttons{
    display: flex;
    flex-direction: row;
    gap: 8rem;
}
@media (max-width: 620px) {
    .audioChallenge-result__buttons{
        gap: 4rem
    }
}
@media (max-width: 450px) {
    .audioChallenge-result__buttons{
       flex-direction: column;
       gap: 2rem;
    }
}
.audioChallenge-repeat__button,
.audioChallenge-return__button{
    @include mainButton();
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    &:hover{
        transition: all 0.3s;
        opacity: 0.8;
    }
}
@media (max-width: 900px) {
    .audioChallenge-repeat__button,
    .audioChallenge-return__button{
        width: 20rem;
        font-size: 2.4rem;
    }
}
@media (max-width: 620px) {
    .audioChallenge-repeat__button,
    .audioChallenge-return__button{
        width: 16rem;
        font-size: 1.8rem;
        margin-bottom: 0rem;
    }
}
i{
    font-style: italic;
}